<section class="ep-home-section__one ep-home-section__one--sign-in-pw">
  <div class="ep-home-section__one--bg-image"></div>
  <div class="container">
    <div class="ep-home-section__row row">
      <div class="ep-signin-signup ep-signin-signup--resend col-md-4 col-md-offset-4">
        <br>
        <h2 class="ep-signin-signup__header">Resend confirmation instructions</h2>
        <br>
        <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
          <div class="ep-signin-signup__errors">
            <%= devise_error_messages! %>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <%= f.email_field :email, placeholder: 'Email', :autofocus => true, class: 'ep-signin-signup__text-field-large' %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <%= f.submit  "Resend confirmation instructions", class: 'btn btn-primary ep-signin-signup__submit' %>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="ep-links col-md-10 col-md-offset-1">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


