
<section class="ep-home-section__one">
	<div class="container">
		<div class="row">
			<div class="ep-home-section__row row">
				<div class="ep-home-section__one-liner col-md-3 col-md-offset-1">
					<p>edPeople is a free professional networking community for educators in the New York City area</p>
				</div>
				<div class="ep-signin-signup js-signin-signup col-md-6 col-md-offset-1">
					<h2>Create an account</h2>
					<br>
					<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
					  <%= devise_error_messages! %>
					  <div class="row js-user-name-fields">
					  	<div class="col-md-10 col-md-offset-1">
								<%= f.text_field :first_name, placeholder: 'First Name', class: 'ep-signin-signup__text-field-small', :autofocus => true %>
							  <%= f.text_field :last_name, placeholder: 'Last Name', class: 'ep-signin-signup__text-field-small ep-signin-signup__text-field-small--right' %>
							</div>
					  </div>

					  <div class="row ep-org-field js-org-field">
					  	<div class="col-md-10 col-md-offset-1">
								<%= text_field_tag 'org[name]', '', placeholder: 'Organization Name', class: 'ep-signin-signup__text-field-large' %>
							</div>
					  </div>

					  <div class="row">
					  	<div class="col-md-10 col-md-offset-1">
					  		<%= f.email_field :email, placeholder: 'Email', class: 'ep-signin-signup__text-field-large' %>
					  	</div>
					  </div>

					  <div class="row">
					  	<div class="col-md-10 col-md-offset-1">
					  		<%= f.password_field :password, placeholder: 'Password', class: 'ep-signin-signup__text-field-large' %>
					  	</div>
						  <!-- <div class="col-md-4 col-md-offset-1"> -->
						  	<!-- <%#= f.label :password_confirmation %><br /> -->
							  <%#= f.password_field :password_confirmation, placeholder: 'Confirm Pasword', class: 'ep-signin-signup__text-field-small' %>
							<!-- </div> -->
						</div>
						<div class="row">
					  	<div class="col-md-10 col-md-offset-1">
					  		<%= f.submit "Sign up", class: 'btn btn-primary ep-signin-signup__submit' %>
					  	</div>
					  </div>
					<% end %>

					<div class="row">
						<div class="ep-links col-md-10 col-md-offset-1">
							<%= render "devise/shared/links" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ep-home-section__two">
	<div class="container">
		<div class="row">
			<div class="ep-info-blurb ep-info-blurb__with-margin ep-info-blurb__with-margin-for-mobile col-md-6 col-md-offset-1">
				<h1>What we are</h1>
				<p>edPeople is a free professional networking community for educators in New York City.</p>
				<p>Join today to connect with others, exchange ideas and share opportunities.</p>
			</div>
			<div class="ep-info-blurb ep-info-blurb--first ep-info-blurb__with-margin col-md-2 col-md-offset-1">
				<i class="fa fa-rocket"></i>
			</div>
		</div>
	</div>
</section>

<section class="ep-home-section__three">
	<div class="container">
		<div class="row">
			<div class="ep-info-blurb ep-info-blurb__with-margin col-md-2 col-md-offset-1">
				<i class="fa fa-laptop"></i>
			</div>
			<div class="ep-info-blurb ep-info-blurb__with-margin ep-info-blurb__with-margin-for-mobile col-md-6 col-md-offset-3">
				<h1>Why we're here</h1>
				<p>edPeople’s mission is to enable and empower New York City’s educators to build and maximize their professional networks.</p>
			</div>
		</div>
	</div>
</section>

<section class="ep-home-section__four">
	<div class="container">
		<div class="row">
			<div class="row">
				<div class="ep-info-blurb col-md-6 col-md-offset-1">
					<h1>What we do</h1>
					<p>We believe the internet can transform the way educators in New York City connect, communicate and manage their careers.</p>
				</div>
				<div class="ep-info-blurb col-md-2 col-md-offset-1">
					<i class="fa fa-cogs"></i>
				</div>
			</div>
			<div class="row">
				<div class="ep-info-blurb--small col-md-3">
					<h3>Build Your Network</h3>
				</div>
				<div class="ep-info-blurb--small col-md-3">
					<h3>Discover Opportunities</h3>
				</div>
				<div class="ep-info-blurb--small col-md-3">
					<h3>Recruit new talent</h3>
				</div>
				<div class="ep-info-blurb--small col-md-3">
					<h3>Exchange Ideas</h3>
				</div>
			</div>
		</div>
	</div>
</section>

