<div id="ep-connection" class="ep-connection">
	<p>
		<span class="ep-connection__photo">
			<%= image_tag user.photo_url('thumb'), onerror: "imgError(this);", height: '50', width: '50' %>
			<%= user_image(user, 'thumb', '50', '50') %>
	  </span>
		<%= link_to user.name, user_path(user) %>
	</p>
		<% if current_user %>
			<% if (current_user.invited_by? user) && (!current_user.friend_with? user) %>
				<div class="ep-connection-choice">
					<%= link_to approve_friend_user_path(user), method: :put, remote: true, class: 'ep-approve' do %>
						 <i class="fa fa-plus"></i> Approve
					<% end %>
					&nbsp|&nbsp
					<%= link_to remove_deny_friend_user_path(user), method: :put, remote: true, class: 'ep-deny' do %>
						<i class="fa fa-minus"></i> Decline
					<% end %>
				</div>
			<% elsif current_user.friend_with? user %>
				<div class="ep-connection-choice">
					<%= link_to remove_deny_friend_user_path(user), method: :put, remote: true, class: 'ep-deny' do %>
						<i class="fa fa-minus"></i> Remove
					<% end %>
				</div>
			<% end %>
		<% end %>
	<hr>
</div>