<% if users.present? %>
  <% users.each do |org_user| %>
    <tr>
      <td class="ep-index__org-main-info">
        <div class="ep-index__photo">
          <%= user_image(org_user, 'thumb', '50', '50') %>
        </div>
        <div class="ep-index__meta">
          <% if org_user.org.present? %>
            <p class="ep-index__meta--name"><%= link_to org_user.org.name, org_path(org_user) %></p>
          <% end %>
          <p class="ep-index__meta-content">
            <%= org_user.org.borough %><br>
            <%= org_user.org.org_type %>
          </p>
        </div>
      </td>
      <% if current_user %>
        <td>
          <div class="ep_index--connection js_users--connection-<%= org_user.id %>">
            <%= render partial: 'orgs/user_connection', locals: { user: org_user } %>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
<% else %>
  <p>Sorry, no matches. Try broadening your search.</p>
<% end %>
