<% if !user_signed_in? %>
  <p><i class="fa fa-plus"></i>&nbsp <%= link_to "Sign in", new_session_path(org_user) %> to connect</p>

<% elsif current_user == org_user %>
  <% %>

<% elsif !current_user.connected_with? org_user %>
  <p class='ep-profile-connection-request'>
    <i class="fa fa-plus"></i>
    <span class='ep-profile-connection-request-link ep-link-style' data-toggle="modal" data-target="#ep-confirm__connection-request">
      Connect
    </span>
  </p>

<% elsif current_user.friend_with? org_user %>
  <p><i class="fa fa-users"></i>&nbsp Connected</p>

<% elsif current_user.invited? org_user %>
  <p><i class="fa fa-plus"></i>
  Pending connection
  </p>

<% elsif current_user.invited_by? org_user %>
  <p><i class="fa fa-plus"></i>
  Pending connection
  <%= link_to "(Approve)", friendship_path(org_user), method: :put, remote: true, class: 'ep-approve' %></p>

<% end %>

<% if user_signed_in? %>
  <% if current_user == org_user %>
    <p>
      <i class="fa fa-envelope"></i> <%= link_to 'Messages', user_conversations_path(org_user) %>
      <% if @unread_messages_count > 0 %>
        <span class="ep-unread-messages-alert"><%= "#{@unread_messages_count}" %></span>
      <% end %>
    </p>
  <% else %>
    <p data-toggle="modal" data-target=".ep-message-modal">
      <i class="fa fa-envelope"></i>&nbsp<a>Send a message</a>
    </p>
  <% end %>
<% else %>
  <p><i class="fa fa-envelope"></i>&nbsp <%= link_to "Sign in", new_session_path(org_user) %> to send a message</p>
<% end %>

<% if current_user == org_user %>
  <p class='js-edit-mode'><i class="fa fa-pencil-square"></i><a> Edit my profile</a></p>
  <p class='js-exit-edit-mode js-edit'><i class="fa fa-pencil-square"></i><a> Done Editing</a></p>
<% end %>

<div id="ep-confirm__connection-request" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content ep-content--send-message">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="modal-header">
        <h4 class="modal-title modal-title--gray">Connect with <%= org.name %>?</h4>
      </div><br>
      <div class="ep-confirm__btns">
        <%= link_to "Connect", friendships_path(id: org.id), method: :post, remote: true, class: 'btn btn-primary', data: { dismiss: "modal"} %>
        <div class="ep-cancel-edit btn btn-default" data-dismiss="modal">cancel</div>
      </div>
    </div>
  </div>
</div>