<div class="col-sm-12 ep-main-container">
  <div class="row">
    <div class="row">
      <%= form_for @user, html: { class: 'form-horizontal' } do |f| %>
        <div class="col-sm-4 col-sm-offset-4">
          <div class="ep-profile-section white-bg">
            <div class="ep-profile-section__header">
              <h4>Add a Password</h4>
            </div>
            <p class="ep-add-password-text"><strong>Hey, <%= @user.first_name %>!</strong> Here you can add a password that you can use to sign in when you come back next.</p>
            <div class="ep-profile-section__body ep-profile-section__body--add-password">
              <div class="ep-form__profile-form-field">
                <%= f.label :Password, class: 'ep-form__label' %><br>
                <%= f.password_field :password, autocomplete: "off", class: 'ep-form__text-field' %>
              </div>

              <div class="ep-form__profile-form-field">
                <%= f.label :password_confirmation, class: 'ep-form__label' %><br>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'ep-form__text-field' %>
              </div>
            </div>
            <div class="form-actions ep-form-actions--add-password">
              <%= f.submit 'Save', class: 'btn btn-primary' %>
              <%= link_to t('.cancel', default: t("helpers.links.cancel")), user_path(current_user), class: 'ep-cancel-edit btn btn-default' %>
            </div><br>
            <div class="ep-profile-section__hr-line"></div><br>
            <p class="ep-add-password-text ep-italic">Clicking cancel will bring you to your profile, and you will need to sign in through LinkedIn next time you visit edPeople.</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
