<div class="page-header">
  <h3>Conversations (<%= conversations.count %>)</h3>
  <p class='pull-right'><%= "Unread messages (#{ @unread_messages_count })" if @unread_messages_count > 0 %></p>
  <% if @unread_messages_count > 0 %>
    <br>
  <% end %>
</div>
<% if conversations.present? %>
  <table class="table ep-index__table">
    <tbody>
      <% conversations.each do |convo| %>
        <tr>
          <td class="ep-index__conversation">
            <div class="ep-convo-link" onclick="window.location='<%= user_conversation_path(@user, convo) %>'">
              <% user = convo.users.ne(id: current_user.id).first %>
              <div class="ep-index__photo">
                <% if user %>
                  <%= user_image(user, 'thumb', '50', '50') %>
                <% else %>
                  This user no longer has an account on edpeople.
                <% end %>
              </div>
              <div class="ep-index__meta">
                <p class="<%= convo.messages.last.viewed_by_ids.include?(@user.id) ? '' : 'ep-bold' %>">
                  <% if user %>
                    <%= link_to user.name, user_path(user) %>
                  <% end %>
                </p>
                <p class="<%= convo.messages.last.viewed_by_ids.include?(@user.id) ? '' : 'ep-bold' %>">
                  <%= h(convo.messages.last.note.truncate(120)).gsub(/\n/, '<br/>').html_safe %>
                </p>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="js-will-page">
    <%= will_paginate @users %>
  </div>
<% else %>
  <p>No conversations found.</p>
<% end %>