<table class="table ep-index__table">
  <tbody>
    <% if recipient %>
      <tr>
        <td class='ep-index__new-message'>
          <div class="ep-index__photo">
            <%= user_image(current_user, 'thumb', '50', '50') %>
          </div>
          <div class="ep-index__meta">
            <p><%= link_to current_user.name, user_path(current_user) %></p>
            <%= form_for Message.new, remote: true do |f| %>
              <%= hidden_field_tag :convo_id, conversation.id  %>
              <%= hidden_field_tag :in_convo, true  %>
              <%= hidden_field_tag :recipient_id, recipient.id %>
              <%= f.text_area :note, :class => 'ep-form__text-area ep-form__text-area--mobile', rows: '3', cols: '60', :required => true %>
              <%= f.submit 'Send', data: { disable_with: "Sending..." }, class: 'btn btn-primary' %>
            <% end %>
            <br>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table ep-index__table">
  <tbody class="ep-index__messages js-messages-container">
    <%= render partial: 'conversations/messages', locals: { messages: messages } %>
  </tbody>
</table>
<div class="js-will-page js-will-page--messages">
  <%= will_paginate messages %>
</div>