<% if college_info.college  %>
	<div id="ep-edit-college-<%= college_info.id %>" class="js-section-container">
		<%= render :partial => '../views/colleges/edit_form', locals: { college_info: college_info } %>

		<div class="ep-title-container js-college js-section-item">
			<h5><%= college_info.college.name %></h5>
				<p>
					<%= college_info.degree_type %>,
					<%= college_info.major %>
				</p>
				<p class="ep-college-meta">
					<%= college_info.start_date %> -
					<%= college_info.end_date %>
				</p>
		</div>
		<a class="js-edit-college js-edit js-edit-section-item">Edit |</a>
		<%= link_to "Delete", college_info_path(college_info), method: :delete, remote: true, class: 'js-edit js-delete' %>
		<hr>
	</div>
<% end %>