<div id="ep-edit-college-<%= college.id %>" class="collapse">
	<%= render :partial => '../views/college/edit_form', locals: { college: college } %>
</div>
<div class="js-college">
	<h5><%= college.name %>
		<a class="js-edit-college" data-toggle="collapse" data-target="#ep-edit-college-<%= college.id %>"><i class="fa fa-pencil"></i> Edit</a>
	</h5>

	<% if college.users_meta_data[user.id.to_s] %>
		<p>
			<%= college.users_meta_data[user.id.to_s]["degree_type"] %>,
			<%= college.users_meta_data[user.id.to_s]["major"] %>
		</p>
		<p>
			<%= college.users_meta_data[user.id.to_s]["start_date"] %> -
			<%= college.users_meta_data[user.id.to_s]["end_date"] %>
		</p>
	<% end %>
	<%# link_to "Edit", edit_college_path(college) %>
</div>
<br>