<div class="ep-profile-section__header">
	<h4>Connections</h4>
</div>

<div class="ep-profile-section__body">

	<div class="ep-connections">
    <% if user == current_user %>
        <a id="ep-show-suggested-friends" class="ep-active-connections">Suggestions</a>
		  | <a id="ep-show-friends">Connections <%= user.friends.count > 0 ? "(#{user.friends.count})" : "" %></a>
			| <a id="ep-show-invites">Sent <%= user.pending_invited.count > 0 ? "(#{user.pending_invited.count})" : "" %></a>
      | <a id="ep-show-inviters">Invitations <%= user.pending_invited_by.count > 0 ? "(#{user.pending_invited_by.count})" : "" %></a>
    <% else %>
      <p>Connections <%= user.friends.count > 0 ? "(#{user.friends.count})" : "" %></p>
		<% end %>
	</div>

  <% if user == current_user %>
    <div id="ep-friend-suggestions">
      <% for friend in suggestions %>
        <%= render partial: 'connection', locals: { user: friend } %>
      <% end %>
    </div>
  <% end %>

	<div id="ep-friends">
		<% for friend in user.friends.take(6) %>
			<%= render partial: 'connection', locals: { user: friend } %>
		<% end %>
    <% if user.friends.blank? %>
      <div class="ep-no-friends">
        No connections yet.
      </div>
    <% end %>
	</div>
	<% if user == current_user %>
		<div id="ep-invited">
			<% for invite in user.pending_invited %>
				<%= render partial: 'connection', locals: { user: invite } %>
			<% end %>
      <% if user.pending_invited.blank? %>
        <div class="ep-no-friends">
          You haven't sent any invitations.
        </div>
      <% end %>
		</div>

		<div id="ep-invited_by">
			<% for inviter in user.pending_invited_by %>
				<%= render partial: 'connection', locals: { user: inviter } %>
			<% end %>
      <% if user.pending_invited_by.blank? %>
        <div class="ep-no-friends">
          No invitations.
        </div>
      <% end %>
		</div>
	<% end %>

  <% if user.friends.count > 6 %>
	 <a class="ep-see-all-connections" data-toggle="modal" data-target=".ep-connection-modal">See All</a>
  <% end %>
</div>

<div class="modal fade ep-connection-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Connections</h4>
      </div>
      <% for friend in user.friends %>
				<%= render partial: 'connection', locals: { user: friend } %>
			<% end %>
    </div>
  </div>
</div>