<div class="js-section-container ep-experience-container">
	<div id="ep-edit-job-<%= experience.id %>" class="ep-experience-edit-form ep-edit-form js-edit-form">
		<%= render :partial => '../views/experiences/edit_form', locals: { experience: experience } %>
	</div>
	<div class="js-experience ep-experience js-section-item">
		<div class="ep-title-container">
			<h5>
				<%= experience.title %> at <span><%= experience.school.present? ? experience.school : experience.employer %></span>
				<span class="nycdoe"><%= experience.employer == 'NYCDOE' ? "(#{experience.employer})" : '' %></span>
			</h5>
		</div>
		<p class="ep-experience-meta">
			<%= experience.boro.present? ? experience.boro : '' %>
			<%= " |" if  experience.boro.present? && ( experience.district.present? || experience.start_date.present? )%>
			<%= experience.district.present? ? "District: #{experience.district}" : '' %>
			<%= " |" if  experience.district.present? && experience.start_date.present? %>
			<% if experience.start_date.present? && experience.end_date.present? %>
				<%= experience.start_date %> - <%= experience.end_date %>
			<% elsif experience.start_date.present? && !experience.end_date.present? %>
				<%= "#{experience.start_date} - present" %>
			<% end %>
		</p>
		<p><%= h(experience.description).gsub(/\n/, '<br/>').html_safe %></p>
	</div>
	<% if @user == current_user %>
		<a class="js-edit-section-item js-edit">Edit |</a>
		<%= link_to ' Delete', experience_path(experience), method: :delete, remote: true, class: 'js-edit js-delete' %>
	<% end %>
	<hr>
</div>
