<div class="col-sm-12 ep-profile-header white-bg">
  <div class="row">
    <div class="col-sm-6 ep-user-snapshot">
      <div class="ep-profile-image">
        <%= user_image(@user, 'medium', '120', '120') %>
      </div>

      <div class="ep-user-info">
        <h3><%= @user.name %></h3>
        <p><%= @user.headline if @user.headline %></p>
      </div>
    </div>

    <div class="col-sm-3"></div>

    <div class="ep-profile-actions js-profile-actions-<%= @user.id %> col-sm-3">
      <%= render partial: 'profile_actions', locals: { user: @user} %>
    </div>
  </div>
</div>





