<div class="col-md-12 ep-profile-header white-bg">

	<div class="row">
		<div class="col-md-5 ep-user-snapshot">
			<div class="ep-profile-image">
				<% if @user.avatar.url != "/images/original/missing.png" %>
					<%= image_tag("https://s3.amazonaws.com/ep-dev-avatar/#{@user.id}", height: '120', width: '120') %>
				<% else %>
			  	<%= image_tag(@user.image_url, height: '120', width: '120') %>
			  <% end %>

			 	<% if @user == current_user %>
					<div class="ep-profile-image__uploader-container">
						<a class="js-edit" data-toggle="collapse" data-target="#ep-profile-image__toggle">Change image</a>

						<div id="ep-profile-image__toggle" class="js-edit-form--file-upload collapse">
							<%= form_for @user, :url => add_avatar_user_path(@user), :html => { :method => "put", :multipart => true } do |f| %><br>

								<span class="ep-profile-image__placeholder">
									<input class="ep-profile-image__placeholder-input" placeholder="Choose File" disabled="disabled" />
								</span>

								<div class="ep-profile-image__upload-fields">
								  <%= f.file_field :avatar, "data-filename-placement"=> "inside", class: "ep-profile-image__file-field js-profile-image__file-field" %>
								  <%= f.submit "Upload", class: "btn btn-primary" %>
							  </div>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>

			<div class="ep-user-info">
				<h3>
					<%= best_in_place @user, :name, :type => :input, activator: '.ep-edit-name' %>
					<% if @user == current_user %>
						<a class="ep-edit-name js-edit"> Edit</a>
					<% end %>
				</h3>
				<p>
					<%= best_in_place @user, :headline, :type => :input, activator: '.ep-edit-headline' %>
					<% if @user == current_user %>
						<a class="ep-edit-headline js-edit"> Edit</a>
					<% end %>
				</p>
			</div>
		</div>

		<div class="ep-user-roles-and-subjects col-md-3">
			<div class="ep-user-roles-and-subjects__roles">
				<%= render partial: 'roles', locals: { user: @user, roles: @roles } %>
			</div>
			<div class="ep-user-roles-and-subjects__subject-areas">
				<%= render partial: 'subjects', locals: { user: @user, subjects: @sbjects } %>
			</div>
		</div>

		<div class="ep-profile-actions col-md-4">

			<% if !user_signed_in? %>
				<p><i class="fa fa-plus"></i>&nbsp Sign in to become Adam's Connection</p>

			<% elsif current_user == @user %>
				<% %>

			<% elsif !current_user.connected_with? @user %>
				<p><i class="fa fa-plus"></i>
					<%= link_to "Become #{@user.first_name}'s Connection", invite_friend_user_path(@user), method: :put, remote: true %></p>

			<% elsif current_user.friend_with? @user %>
				<p><i class="fa fa-plus"></i>&nbsp You are connected to <%= @user.first_name %></p>

			<% elsif current_user.invited? @user %>
				<p><i class="fa fa-plus"></i>
				Pending connection
				</p>

			<% elsif current_user.invited_by? @user %>
				<p><i class="fa fa-plus"></i>
				Pending connection
				<%= link_to "(Approve)", approve_friend_user_path(@user), method: :put, class: 'ep-approve' %></p>

			<% end %>


			<p><i class="fa fa-envelope"></i> Send <%= @user.first_name %> a message</p>
			<p>
				<% if @user.has_resume %>
					<i class="fa fa-file-text"></i>&nbsp
					<% if @user == current_user %>
						<%= link_to "Edit your resume", "#", class: 'js-edit-resume' %>
					<% else %>
						<%= link_to "Download #{@user.first_name + '\'s'} resume", "https://s3.amazonaws.com/ep-dev-resumes/#{@user.id}" %>
					<% end %>
					<br>
					<span class="ep-edit-resume-options js-edit-resume-options">
						<%= link_to "Download", "https://s3.amazonaws.com/ep-dev-resumes/#{@user.id}" %> |
						<a data-toggle="collapse" data-target="#ep-resume__toggle">Update</a> |
						<%= link_to 'Remove', remove_resume_user_path(@user), method: :put, data: {confirm: "Are you sure?"} %> |
						<%= link_to "Cancel", "#", class: 'js-cancel-edit-resume' %>
					</span>
				<% end %>

				<% if @user == current_user %>
					<div class="ep-profile-image__uploader-container">
						<% if !@user.has_resume %>
							<i class="fa fa-file-text"></i>
							<a data-toggle="collapse" data-target="#ep-resume__toggle">
								Upload your resume
							</a>
						<% end %>

						<div id="ep-resume__toggle" class="js-edit-form--file-upload collapse">
							<%= form_for @user, :url => add_resume_user_path(@user), :html => { method: :put, :multipart => true } do |f| %><br>

								<span class="ep-resume__placeholder">
									<input class="ep-resume__placeholder-input" placeholder="Choose File" disabled="disabled" />
								</span>

								<div>
								  <%= file_field_tag :resume, "data-filename-placement"=> "inside", class: "ep-resume__file-field js-resume__file-field" %>
								  <%= f.submit "Upload", class: "btn btn-primary" %>
							  </div>
							<% end %>
						</div>
					</div>
				<% end %>
			</p>
			<p><i class="fa fa-folder-open"></i> View <%= @user.first_name %>'s portfolio</p>
			<% if current_user == @user %>
				<p><i class="fa fa-linkedin-square"></i>&nbsp<%= link_to "Import from Linkedin",user_omniauth_authorize_path(:linkedin) %></p>
			<% end %>
		</div>
	</div>
<% if current_user == @user %>
	<a class='js-edit-mode pull-right'> Edit</a>

	<span class="pull-right js-edit">
		<a class='js-exit-edit-mode'>Done Editing</a>
		&nbsp|&nbsp
		<%= link_to 'Remove account', user_path(@user), method: :delete, class: 'js-edit', data: {confirm: "Are you sure?"} %>
	</span>

<% end %>
</div>





