<div class="col-md-12 ep-profile-header white-bg">

	<div class="row">
		<div class="col-md-7 ep-user-snapshot">
			<div class="ep-profile-image">
				<% if @user.avatar.url != "/images/original/missing.png" %>
					<%= image_tag("https://s3.amazonaws.com/ep-profilepics-avatar/#{@user.id}", height: '120', width: '120') %>
				<% else %>
			  	<%= image_tag(@user.image_url, height: '120', width: '120') %>
			  <% end %>

			 	<% if @user == current_user %>
					<div class="ep-profile-image__uploader-container">
						<a class="js-edit" data-toggle="collapse" data-target="#ep-profile-image__toggle">Change image</a>

						<div id="ep-profile-image__toggle" class="js-edit-form--profile-image collapse">
							<%= form_for @user, :url => add_avatar_user_path(@user), :html => { :method => "put", :multipart => true } do |f| %><br>

								<span class="ep-profile-image__placeholder">
									<input class="ep-profile-image__placeholder-input" placeholder="Choose File" disabled="disabled" />
								</span>

								<div class="ep-profile-image__upload-fields">
								  <%= f.file_field :avatar, "data-filename-placement"=> "inside", class: "ep-profile-image__file-field js-profile-image__file-field" %>
								  <%= f.submit "Upload", class: "btn btn-primary" %>
							  </div>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>

			<div class="ep-user-info">
				<h3>
					<%= best_in_place @user, :name, :type => :input, activator: '.ep-edit-name' %>
					<% if @user == current_user %>
						<a class="ep-edit-name js-edit"> Edit</a>
					<% end %>
				</h3>
				<p>
					<%= best_in_place @user, :headline, :type => :input, activator: '.ep-edit-headline' %>
					<% if @user == current_user %>
						<a class="ep-edit-headline js-edit"> Edit</a>
					<% end %>
				</p>
			</div>
		</div>

		<div class="col-md-5 ep-profile-actions">
			<div class="ep-hr-line"></div>

			<% if !user_signed_in? %>
				<p><i class="fa fa-plus"></i>&nbsp Sign in to become Adam's Connection</p>

			<% elsif current_user == @user %>
				<% %>

			<% elsif !current_user.connected_with? @user %>
				<p><i class="fa fa-plus"></i>
					<%= link_to "Become #{@user.first_name}'s Connection", invite_friend_user_path(@user), method: :put %></p>

			<% elsif current_user.friend_with? @user %>
				<p><i class="fa fa-plus"></i>&nbsp You are connected to <%= @user.first_name %></p>

			<% elsif current_user.invited? @user %>
				<p><i class="fa fa-plus"></i>
				Pending connection
				</p>

			<% elsif current_user.invited_by? @user %>
				<p><i class="fa fa-plus"></i>
				Pending connection
				<%= link_to "(Approve)", approve_friend_user_path(@user), method: :put, class: 'ep-approve' %></p>

			<% end %>


			<p><i class="fa fa-envelope"></i> Send <%= @user.first_name %> a message</p>
			<p><i class="fa fa-file-text"></i>&nbsp Download <%= @user.first_name %>'s resume</p>
			<p><i class="fa fa-folder-open"></i> View <%= @user.first_name %>'s portfolio</p>
			<% if current_user == @user %>
				<p><i class="fa fa-linkedin-square"></i>&nbsp<%= link_to "Import from Linkedin",user_omniauth_authorize_path(:linkedin) %></p>
			<% end %>
		</div>
	</div>
<% if current_user == @user %>
	<a class='js-edit-mode pull-right'> Edit</a>
	<a class='js-exit-edit-mode pull-right'><i class="fa fa-times"></i> Done Editing</a>
<% end %>
</div>





