      <% if !user_signed_in? %>
        <p><i class="fa fa-plus"></i>&nbsp Sign in to become Adam's Connection</p>

      <% elsif current_user == user %>
        <% %>

      <% elsif !current_user.connected_with? user %>
        <p><i class="fa fa-plus"></i>
          <%= link_to "Become #{user.first_name}'s Connection", invite_friend_user_path(user), method: :put, remote: true %></p>

      <% elsif current_user.friend_with? user %>
        <p><i class="fa fa-plus"></i>&nbsp You are connected to <%= user.first_name %></p>

      <% elsif current_user.invited? user %>
        <p><i class="fa fa-plus"></i>
        Pending connection
        </p>

      <% elsif current_user.invited_by? user %>
        <p><i class="fa fa-plus"></i>
        Pending connection
        <%= link_to "(Approve)", approve_friend_user_path(user), method: :put, remote: true, class: 'ep-approve' %></p>

      <% end %>

      <% if current_user == user %>
        <p><i class="fa fa-envelope"></i> <%= link_to 'Your messages', user_conversations_path(user) %></p>
      <% else %>
        <p data-toggle="modal" data-target=".ep-message-modal">
          <i class="fa fa-envelope"></i> <a>Send <%= user.first_name %> a message</a>
        </p>
      <% end %>
      <p>
        <% if user.has_resume %>
          <i class="fa fa-file-text"></i>&nbsp
          <% if user == current_user %>
            <%= link_to "Edit your resume", "#", class: 'js-edit-resume' %>
          <% else %>
            <%= link_to "Download #{user.first_name + '\'s'} resume", "https://s3.amazonaws.com/ep-dev-resumes/#{user.id}" %>
          <% end %>
          <br>
          <span class="ep-edit-resume-options js-edit-resume-options">
            <%= link_to "Download", "https://s3.amazonaws.com/ep-dev-resumes/#{user.id}" %> |
            <a data-toggle="collapse" data-target="#ep-resume__toggle">Update</a> |
            <%= link_to 'Remove', remove_resume_user_path(user), method: :put, data: {confirm: "Are you sure?"} %> |
            <%= link_to "Cancel", "#", class: 'js-cancel-edit-resume' %>
          </span>
        <% end %>

        <% if user == current_user %>
          <div class="ep-profile-image__uploader-container">
            <% if !user.has_resume %>
              <i class="fa fa-file-text"></i>
              <a data-toggle="collapse" data-target="#ep-resume__toggle">
                Upload your resume
              </a>
            <% end %>

            <div id="ep-resume__toggle" class="js-edit-form--file-upload collapse">
              <%= form_for user, :url => add_resume_user_path(user), :html => { method: :put, :multipart => true } do |f| %><br>

                <span class="ep-resume__placeholder">
                  <input class="ep-resume__placeholder-input" placeholder="Choose File" disabled="disabled" />
                </span>

                <div>
                  <%= file_field_tag :resume, "data-filename-placement"=> "inside", class: "ep-resume__file-field js-resume__file-field" %>
                  <%= f.submit "Upload", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </p>
      <p><i class="fa fa-folder-open"></i> View <%= user.first_name %>'s portfolio</p>
      <% if current_user == user %>
        <p><i class="fa fa-linkedin-square"></i>&nbsp<%= link_to "Import from Linkedin",user_omniauth_authorize_path(:linkedin) %></p>
      <% end %>