<div class="col-md-12 ep-profile-header white-bg">

  <div class="row">
    <div class="col-md-6 ep-user-snapshot">
      <div class="ep-profile-image">
        <%= user_image(@user, 'medium', '120', '120') %>
        <% if @user == current_user %>
          <div class="ep-profile-image__uploader-container">
            <a class="js-edit" data-toggle="collapse" data-target="#ep-profile-image__toggle">Change image</a>

            <div id="ep-profile-image__toggle" class="js-edit-form--file-upload collapse">
              <%= form_for @user, :url => add_avatar_user_path(@user), :html => { :method => "put", :multipart => true } do |f| %><br>

                <span class="ep-profile-image__placeholder">
                  <input class="ep-profile-image__placeholder-input" placeholder="Choose File" disabled="disabled" />
                </span>

                <div class="ep-profile-image__upload-fields">
                  <%= f.file_field :avatar, "data-filename-placement"=> "inside", class: "ep-profile-image__file-field js-profile-image__file-field" %>
                  <%= f.submit "Upload", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="ep-user-info">
        <h3>
          <%= best_in_place @user, :name, :type => :input, activator: '.ep-edit-name' %>
          <% if @user == current_user %>
            <a class="ep-edit-name js-edit"> Edit</a>
          <% end %>
        </h3>
        <p>
          <%= best_in_place @user, :headline, :type => :input, activator: '.ep-edit-headline', nil: 'Add a headline' %>
          <% if @user == current_user %>
            <% if @user.headline.present? %>
              <a class="ep-edit-headline js-edit"> Edit</a>
            <% else %>
              <a class="ep-edit-headline js-add-bip"> + Add</a>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>

    <div class="ep-user-roles-and-subjects col-md-3"></div>

    <div class="ep-profile-actions js-profile-actions-<%= @user.id %> col-md-3">
      <%= render partial: 'profile_actions', locals: { user: @user} %>
    </div>
  </div>
</div>





