<h5>Roles</h5>
  <% user.roles.each_with_index do |role, i| %>
    <span class="ep-role">
      <% if user == current_user %>
        <%= link_to role_path(role), method: :delete, remote: true, class: 'js-edit js-delete' do %>
          <i class="fa fa-times"></i>
        <% end %>
      <% end %>
      <span><%= role.name %></span><%= "," unless i == user.roles.count - 1 %>
    </span>
  <% end %>

  <% if user.roles.blank? && user = current_user %>
    <span>No roles yet</span>
  <% end %>
  <br>
<div class="js-section-container">
  <% if current_user && user == current_user %>
    <a class="js-edit-section-item ep-add-role js-add-role <%= user.roles.present? ? 'js-edit' : '' %>">+ Add</a>
    <div id="ep-add-role" class="js-edit-form ep-edit-form">
      <%= form_for Role.new, remote: true do |f| %>
        <div class="ep-form__profile-form-field">
          <%= f.label :name, :class => 'ep-form__label' %>
          <%= collection_select(:role, :id, @roles,
                  :id, :name,
                 {:prompt => 'Select a role'}) %>
        </div>
        <%= f.submit 'Add', :class => 'btn btn-primary' %>
        <%= content_tag :div, 'cancel', class: 'ep-cancel-edit btn btn-default' %>
      <% end %>
    </div>
  <% end %>
</div>