<div class="ep-profile-section__header">
	<h4>Skills</h4>
</div>
<div class="ep-skills ep-profile-section__body js-section-container">
	<% for skill in @user.skills %>
		<div class="ep-skill">
			<%= skill.name %>
				<% if @user == current_user %>
					<%= link_to skill_path(skill), method: :delete, remote: true, class: 'js-edit js-delete' do %>
					<i class="fa fa-times"></i>
				<% end %>
			<% end %>
		</div>
	<% end %>
	<br>
	<% if @user == current_user %>
		<br>
		<a class="<%= @user.skills.present? ? 'js-edit' : '' %>  js-edit-section-item"></i> + Add</a>
		<div id="ep-add-skill" class="js-edit-form ep-form ep-edit-form">
			<%= form_for Skill.new, remote: true do |f| %>
				<div class="ep-form__profile-form-field">
					<%= f.label :name, :class => 'ep-form__label' %>
				 	<%= f.text_field :name, autofocus: true, :class => 'ep-form__text-field' %>
				</div>
		    <%= f.submit 'Add', :class => 'btn btn-primary' %>
		    <%= content_tag :div, 'cancel', class: 'ep-cancel-edit btn btn-default' %>
		 	<% end %>
		</div>
	<% end %>
</div>