<% if users.present? %>
  <% users.each do |user| %>
    <tr>
      <td>
        <div class="ep-index__photo">
          <%= user_image(user, 'thumb', '50', '50') %>
        </div>
        <div class="ep-index__meta">
          <p class="ep-index__meta--name"><%= link_to user.name, user_path(user) %></p>
          <p><%= user.headline %></p>
          <p class="ep-index__meta-content">
            <% user.roles.each_with_index do |role, i| %>
              <%= role.name %><%= "," unless i == user.roles.count - 1 %>
            <% end %>

            <%= user.roles.present? && user.subjects.present? ? '|' : '' %>

            <% user.subjects.each_with_index do |subject, i| %>
              <%= subject.name %><%= "," unless i == user.subjects.count - 1 %>
            <% end %>
          </p>
        </div>
      </td>
      <% if current_user %>
        <td>
          <div class="ep_index--connection js_users--connection-<%= user.id %>">
            <%= render partial: 'users/user_connection', locals: { user: user } %>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
<% else %>
  <p>Sorry, no matches. Try broadening your search.</p>
<% end %>
