<div class="col-md-12 ep-main-container">
  <br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="ep-profile-section white-bg">
        <%= form_for @user, html: { class: 'form-horizontal' } do |f| %>
          <br>
          <p class="ep-add-password-text">
            <strong>Hi, <%= @user.first_name %>!</strong><br>
            Add a password now so you wont need to sign in through LinkedIn next time you visit.
          </p>
          <div class="ep-profile-section__body ep-profile-section__body--add-password">
            <div class="ep-form__profile-form-field">
              <%= f.label :Password, class: 'ep-form__label' %><br>
              <%= f.password_field :password, autocomplete: "off", class: 'ep-form__text-field' %>
            </div>

            <div class="ep-form__profile-form-field">
              <%= f.label :password_confirmation, class: 'ep-form__label' %><br>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'ep-form__text-field' %>
            </div>
          </div>
          <div class="form-actions ep-form-actions--add-password">
            <%= f.submit 'Save', class: 'btn btn-primary' %>
            <%= link_to 'Skip', user_path(current_user), class: 'ep-cancel-edit btn btn-default' %>
          </div><br>
        <% end %>
        <%= form_for @user, :html => { :class => 'form-horizontal' }, html: { :id => 'js-dont-show-add-password-page' }, remote: true do |f| %>
          <div class="form-actions ep-form-actions--add-password" style="color:gray">
            <%= f.check_box :dont_show_add_password_page, class: 'js-dont-show-add-password-page'%>
            <%= f.label :dont_show_add_password_page, "There's no need to show this page again.", class: 'ep-normal-font-weight' %>
          </div><br>
        <% end %>
      </div>
    </div>
  </div>
</div>
