<div class="row-fluid"><br><br><br><br>
  <div class="ep-search col-md-3 white-bg">
    <h3>Find people</h3>
    <%= form_tag users_path, method: :get, remote: true, class: 'js-search-form' do %>

      <%= text_field_tag 'search', @search_term, placeholder: 'Search people...', class: "js-search-form__text-field" %>

      <h4>Filter by role</h4>
      <% @roles.each do |role| %>
        <%= check_box_tag 'filter_by_roles[]', role.id, false, class: 'js-search-form__check-box' %>
        <%= label_tag 'filter_by_role', role.name, class: 'ep-filter-label' %><br>
      <% end %>

      <h4>Filter by subject</h4>
      <% @subjects.each do |subject| %>
        <%= check_box_tag 'filter_by_subjects[]', subject.id, false, class: 'js-search-form__check-box' %>
        <%= label_tag 'filter_by_subjects', subject.name, class: 'ep-filter-label'  %><br>
      <% end %>

    <% end %>
  </div>

  <div class="ep-index col-md-8 white-bg">
    <div class="page-header">
      <h3>People</h3>
    </div>
    <table class="table ep-index__table">
      <tbody class="ep-index__items">
        <%= render partial: 'users/users', locals: { users: @users } %>
      </tbody>
    </table>
    <div class="js-will-page">
      <%= will_paginate @users %>
    </div>
  </div>
</div>
