<div class="col-md-12 ep-main-container">
	<div class="row">
		<div class="col-md-12">
			<%= render partial: 'profile_header' %>
		</div>
		<div class="col-md-7">
			<!-- <div class="ep-profile-section white-bg">
				<%# render partial: 'pro_summary', locals: { user: @user } %>
			</div> -->

			<div class="ep-profile-section ep-profile-section--experience  white-bg">
				<%= render partial: 'experience', locals: { user: @user, experiences: @experiences } %>
			</div>

			<div class="ep-profile-section ep-profile-section--education white-bg">
				<%= render partial: 'education', locals: { colleges: @colleges, user: @user } %>
			</div>
		</div>

		<div class="col-md-5">
			<div class="ep-profile-section ep-profile-section--skill white-bg">
				<%= render partial: 'skills', locals: { user: @user } %>
			</div>

			<div class="ep-profile-section white-bg">
				<%= render partial: 'connections' %>
			</div>
		</div>
	</div>
</div>
