<% if @user.gives_access_to(current_user) || @user == current_user %>
  <div class="col-md-12 ep-main-container">
  	<div class="row">
  		<div class="col-md-12">
  			<%= render partial: 'profile_header' %>
  		</div>
  		<div class="col-md-7">
  			<div class="ep-profile-section ep-profile-section--experience  white-bg">
  				<%= render partial: 'experience', locals: { user: @user, experiences: @experiences } %>
  			</div>

  			<div class="ep-profile-section ep-profile-section--education white-bg">
  				<%= render partial: 'education', locals: { colleges: @colleges, user: @user } %>
  			</div>
  		</div>

  		<div class="col-md-5">
        <% if @user == current_user || @user.certs.present? %>
          <div class="ep-profile-section ep-profile-section--cert white-bg">
            <%= render partial: 'certs', locals: { user: @user } %>
          </div>
        <% end %>

  			<div class="ep-profile-section ep-profile-section--skill white-bg">
  				<%= render partial: 'skills', locals: { user: @user } %>
  			</div>

        <% if @user.friends.present? || @user == current_user %>
          <div class="ep-profile-section js-profile-section--connections white-bg">
	          <%= render partial: 'connections/connections', locals: { user: @user, suggestions: @suggestions } %>
          </div>
        <% end %>
  		</div>
  	</div>
  </div>
<% else %>
  <div class="col-md-12 ep-main-container">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'profile_header_no_access' %>
      </div>
    </div>
  </div>
  <div class="ep-private-profile-message">
    <% if @user.privacy_setting == 'only_members' %>
      <p><%= @user.first_name %>'s profile is private. <br> To view it, <%= link_to "sign in", new_session_path(@user) %> or <%= link_to "create", new_registration_path(@user) %> an account</p>
    <% elsif @user.privacy_setting == 'only_connections' %>
      <% if user_signed_in? %>
        <p><%= @user.first_name %>'s profile is private. <br> To view it,
          <span class='ep-profile-connection-request-link ep-link-style' data-toggle="modal" data-target="#ep-confirm__connection-request">
            become #{@user.first_name}'s connection.
          </span>
        </p>
      <% else %>
        <p><%= @user.first_name %>'s profile is private. <br> To view it, <%= link_to "sign in", new_session_path(@user) %> or <%= link_to "create", new_registration_path(@user) %> an account</p>
      <% end %>
    <% end %>
  </div>
<% end %>
<div class="modal fade ep-message-modal" tabindex="-1" role="dialog" aria-labelledby="myMadalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content ep-content--send-message">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Send <%= @user.first_name %> a message</h4>
      </div><br>
      <%= form_for Message.new do |f| %>
        <%= hidden_field_tag :recipient_id, @user.id %>
        <%= f.text_area :note, :class => 'ep-form__text-area', rows: '3', cols: '50' %>
        <%= f.submit 'Send', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<div id="ep-confirm__connection-request" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content ep-content--send-message">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="modal-header">
        <h4 class="modal-title modal-title--gray">Connect with <%= @user.name %>?</h4>
      </div><br>
      <div class="ep-confirm__btns">
        <%#= link_to "Connect", friendships_path(id: @user.id), method: :post, remote: true, class: 'btn btn-primary', data: { dismiss: "modal"} %>
        <%= link_to "Connect", friendships_path(id: @user.id), method: :post, remote: true, class: 'btn btn-primary', data: { dismiss: "modal"} %>
        <div class="ep-cancel-edit btn btn-default" data-dismiss="modal">cancel</div>
      </div>
    </div>
  </div>
</div>