<% if @user.gives_access_to(current_user) || @user == current_user %>
  <div class="col-sm-12 ep-main-container">
  	<div class="row">
  		<div class="col-sm-12">
  			<%= render partial: 'profile_header' %>
  		</div>

      <% if @user.has_profile_info || @user == current_user %>
    		<div class="col-sm-7">
          <% if @user == current_user || @experiences.present? %>
      			<div class="ep-profile-section ep-profile-section--experience  white-bg">
      				<%= render partial: 'experience', locals: { user: @user, experiences: @experiences } %>
      			</div>
          <% end %>

          <% if @user == current_user || @user.college_infos.present? %>
      			<div class="ep-profile-section ep-profile-section--education white-bg">
      				<%= render partial: 'education', locals: { colleges: @colleges, user: @user } %>
      			</div>
          <% end %>
    		</div>

    		<div class="col-sm-5">
          <% if @user == current_user || @user.certs.present? %>
            <div class="ep-profile-section ep-profile-section--cert white-bg">
              <%= render partial: 'certs', locals: { user: @user } %>
            </div>
          <% end %>

          <% if @user == current_user || @user.skills.present? %>
      			<div class="ep-profile-section ep-profile-section--skill white-bg">
      				<%= render partial: 'skills', locals: { user: @user } %>
      			</div>
          <% end %>

          <% if @user.friends.present? || @user == current_user %>
            <div class="ep-profile-section js-profile-section--connections white-bg">
  	          <%= render partial: 'connections/connections', locals: { user: @user, suggestions: @suggestions } %>
            </div>
          <% end %>
    		</div>
      <% else %>
        <div class="ep-no-profile-message">
          <p><strong><%= @user.first_name %></strong> has no profile information yet. <br> You may want to check out these profiles:</p>
        </div>
        <div class="col-sm-8 col-sm-offset-2 ep-profile-header white-bg">
          <br>
          <% @other_people_that_have_info.each do |user| %>
            <%= link_to user_path(user) do %>
              <div class="ep-other-person-with-info col-sm-3">
                <div class="ep-index__photo">
                  <%= user_image(user, 'medium', '120', '120') %>
                </div><br>
                <div class="ep-other-person-with-info__name"><%= user.name.truncate(18)  %></div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="col-sm-12 ep-main-container">
    <div class="row">
      <div class="col-sm-12">
        <%= render partial: 'profile_header_no_access' %>
      </div>
    </div>
  </div>
  <div class="ep-private-profile-message">
    <% if @user.privacy_setting == 'only_members' %>
      <p><%= @user.first_name %>'s profile is private. <br> To view it, <%= link_to "sign in", new_session_path(@user) %> or <%= link_to "create", new_registration_path(@user) %> an account</p>
    <% elsif @user.privacy_setting == 'only_connections' %>
      <% if user_signed_in? %>
        <p><%= @user.first_name %>'s profile is private. <br> To view it,
          <span class='ep-profile-connection-request-link ep-link-style' data-toggle="modal" data-target="#ep-confirm__connection-request">
            <%= "become #{@user.first_name}'s connection." %>
          </span>
        </p>
      <% else %>
        <p><%= @user.first_name %>'s profile is private. <br> To view it, <%= link_to "sign in", new_session_path(@user) %> or <%= link_to "create", new_registration_path(@user) %> an account</p>
      <% end %>
    <% end %>
  </div>
<% end %>
<div class="modal fade ep-message-modal" tabindex="-1" role="dialog" aria-labelledby="myMadalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content ep-content--send-message">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Send <%= @user.first_name %> a message</h4>
      </div><br>
      <%= form_for Message.new do |f| %>
        <%= hidden_field_tag :recipient_id, @user.id %>
        <%= f.text_area :note, :class => 'ep-form__text-area', rows: '3', cols: '50' %>
        <%= f.submit 'Send', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<div id="ep-confirm__connection-request" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content ep-content--send-message">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="modal-header">
        <h4 class="modal-title modal-title--gray">Connect with <%= @user.name %>?</h4>
      </div><br>
      <div class="ep-confirm__btns">
        <%#= link_to "Connect", friendships_path(id: @user.id), method: :post, remote: true, class: 'btn btn-primary', data: { dismiss: "modal"} %>
        <%= link_to "Connect", friendships_path(id: @user.id), method: :post, remote: true, class: 'btn btn-primary', data: { dismiss: "modal"} %>
        <div class="ep-cancel-edit btn btn-default" data-dismiss="modal">cancel</div>
      </div>
    </div>
  </div>
</div>



<% if current_user == @user && (@user.persisted? && !@user.added_password && !@user.dont_show_add_password_page) %>
  <div id="js-show-add-password-form"></div>
<% end %>

<div id="ep-confirm__add_password" class="modal fade">
  <div class="modal-dialog">
    <div class="col-sm-12 ep-main-container">
      <br>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="ep-profile-section white-bg">
            <button type="button" class="close" data-dismiss="modal" style="margin:10px 14px 0 0;">&times;</button>
            <%= form_for @user, html: { class: 'form-horizontal' }, remote: true do |f| %>
              <br>
              <p class="ep-add-password-text">
                <strong>Hi, <%= @user.first_name %>!</strong><br>
                Add a password now so you won't need to sign in through LinkedIn the next time you visit.
              </p>
              <div class="ep-profile-section__body ep-profile-section__body--add-password">
                <div class="ep-form__profile-form-field">
                  <%= f.label :Password, class: 'ep-form__label' %><br>
                  <%= f.password_field :password, autocomplete: "off", class: 'ep-form__text-field' %>
                </div>

                <div class="ep-form__profile-form-field">
                  <%= f.label :password_confirmation, class: 'ep-form__label' %><br>
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: 'ep-form__text-field' %>
                </div>
              </div>
              <div class="form-actions ep-form-actions--add-password">
                <%= f.submit 'Save', class: 'btn btn-primary' %>
                <button type="button" class="ep-cancel-edit btn btn-default" data-dismiss="modal">Skip</button>
                <%#= link_to 'Skip', user_path(current_user), class: 'ep-cancel-edit btn btn-default' %>
              </div><br>
            <% end %>
            <%= form_for @user, :html => { :class => 'form-horizontal' }, html: { :id => 'js-dont-show-add-password-page' }, remote: true do |f| %>
              <div class="form-actions ep-form-actions--add-password" style="color:gray">
                <%= f.check_box :dont_show_add_password_page, class: 'js-dont-show-add-password-page' %>
                <%= f.label :dont_show_add_password_page, "Don't show this message again.", class: 'ep-normal-font-weight' %>
              </div><br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>