<div class="ep-form__profile-form-field">
  <%= f.label :title, :class => 'ep-form__label' %><br>
  <%= f.text_field :title, :class => 'ep-form__text-field' %>
</div>

<div class="ep-form__profile-form-field">
  <%= f.label :employer, :class => 'ep-form__label' %><br>
  <%= f.text_field :employer, :class => 'ep-form__text-field' %>
</div>

<div class="ep-form__profile-form-field">
  <%= f.label :school, :class => 'ep-form__label' %><br>
  <%= f.text_field :school, :class => 'ep-form__text-field' %>
</div>

<div class="ep-form__date ep-form__start-date ep-form__small-input ep-form__profile-form-field">
  <%= f.label :start_date, :class => 'ep-form__label' %><br>
  <%= f.text_field :start_date, :class => 'date-field ep-datepicker' %>
</div>

<div class="ep-form__date ep-form__small-input ep-form__profile-form-field">
  <%= f.label "End Date (Leave blank if current position)", :class => 'ep-form__label' %><br>
  <%= f.text_field :end_date, :class => 'date-field ep-datepicker' %>
</div>

<div class="ep-form__district ep-form__small-input ep-form__profile-form-field">
  <%= f.label :district, :class => 'ep-form__label' %><br>
  <%= f.text_field :district, :class => 'ep-form__text-field' %>
</div>

<div class="ep-form__borough ep-form__small-input ep-form__profile-form-field">
  <%= f.label :borough, :class => 'ep-form__label' %><br>
  <%= f.text_field :boro, :class => 'ep-form__text-field' %>
</div>

<div class="ep-form__clear ep-form__profile-form-field">
  <%= f.label :description, :class => 'ep-form__label' %>
  <%= f.text_area :description, :class => 'ep-form__text-area', :rows => '6' %>
</div>