<% if jobs.present? %>
  <% jobs.each do |job| %>
    <tr>
      <td>
        <div class="ep-index__meta">
          <p><%= link_to job.title, job_post_path(job) %></p>
          <p><%= job.organization %></p>
          <p class="ep-index__description"><%= job.description.truncate(78) %></p>
        </div>
      </td>
      <td>
        <div class="ep_index--connection js_jobss--connection-<%= job.id %>">
          <p class="ep-index__info-right">
            <% if job.indeed_key.present? %>
              Indeed job post<br>
              <%= job.indeed_location %><br>
            <% else %>
              <%= job.neighborhood if job.neighborhood %><br>
              <%= job.location.name if job.location %><br>
              <%= job.role.name if job.role %><br>
            <% end %>
          </p>
        </div>
      </td>
    </tr>
  <% end %>
<% else %>
  <p>Sorry, no matches. Try broadening your search.</p>
<% end %>
