<div class="page-header">
  <a class="pull-right" data-toggle="collapse" data-target="#ep-app-job__toggle">Post a job</a>
  <h3>Jobs</h3>
  <div id="ep-app-job__toggle" class="collapse">
    <div class='ep-form js-edit-form'>
      <%= form_for JobPost.new do |f| %>
        <%= render partial: 'form_fields', locals: { f: f } %>
        <div class="ep-form__clear">
          <%= f.submit 'Add', :class => 'btn btn-primary' %>
          <%= content_tag :div, 'cancel', class: 'btn btn-default', :data => { toggle: "collapse", target: "#ep-app-job__toggle" } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% if @jobs.present? %>
  <table class="table ep-index__table">
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td>
            <div class="ep-index__meta">
              <p><%= link_to job.title, job_post_path(job) %></p>
              <p><%= job.organization %></p>
              <p class="ep-index__description"><%= job.description.truncate(78) %></p>
            </div>
          </td>
          <td>
            <div class="ep_index--connection js_jobss--connection-<%= job.id %>">
              <p class="ep-index__info-right">
                <%= job.neighborhood if job.neighborhood %><br>
                <%= job.location.name if job.location %><br>
                <%= job.role.name if job.role %><br>
              </p>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Sorry, no matches. Try broadening your search.</p>
<% end %>