<div class="ep-show-job__options pull-right">
  <% if user_signed_in? && job.user == current_user %>
    <a class='js-edit-section-item--job'> Edit</a>
    |
    <%= link_to 'Remove', job_post_path(job), method: :delete, :data => { :confirm => "Are you sure?" } %>
  <% end %>
</div>
<div class="js-section-item">
  <div class="page-header ep-job-info__page-header">
    <h3><%= job.title %></h3>
  </div>

  <div class="ep-job-info row">
    <div class="ep-job-info__section col-md-4">
      <h4>Organization</h4>
      <% if job.has_user? && job.user.as_org %>
        <%= link_to job.user.name, org_path(job.user) %>
      <% else %>
        <p><%= job.organization %></p>
      <% end %>
    </div>

    <div class="ep-job-info__section col-md-4">
      <h4>Location</h4>
      <% if job.indeed_key.present? %>
        <%= job.indeed_location %>
      <% else %>
        <p>
          <%= job.location.name if job.location %>
          <%= '-' if job.location.present? &&  job.neighborhood.present? %>
          <%= job.neighborhood if job.neighborhood %>
        </p>
      <% end %>
    </div>

    <div class="ep-job-info__section col-md-4">
      <h4>Date Posted</h4>
      <% if job.indeed_key.present? %>
        <p><%= job.indeed_date.to_datetime.strftime("%b %d, %Y") %></p>
      <% else %>
        <p><%= job.created_at.strftime("%b %d, %Y") %></p>
      <% end %>
    </div>
  </div>

  <div class="ep-job-info__description">
    <% if job.org_website %>
      <hr>
      <h4>Website</h4>
      <p><%= link_to job.org_website, "http://#{job.org_website}" %></p>
    <% end %>

    <hr>
    <h4>Description</h4>
    <p><%= h(job.description).gsub(/\n/, '<br/>').html_safe %></p>
    <% if job.indeed_key.present? %>
      <p><%= link_to "View full post on indeed", "#{job.indeed_url}", target: '_blank' %></p>
    <% else %>
      <hr>
      <h4>Contact info</h4>
      <p><%= job.contact_info %></p>
    <% end %>
  </div>
  <% if job.coordinates.present? %>
    <div style="height:300px; width:100%; margin-left:30px">
      <div id="map-canvas" style="width: 88%; height: 100%;"></div>
    </div>
  <% end %>
</div>
<br>
<div class='ep-form ep-add-job-form ep-edit-form ep-edit-form--job js-edit-form'>
  <h3>Edit job post</h3>
  <hr>
  <%= form_for job, method: :put, remote: true do |f| %>
    <%= render partial: 'form_fields', locals: { f: f } %>
    <div class="ep-form__clear">
      <%= f.submit 'Save', :class => 'btn btn-primary' %>
      <%= content_tag :div, 'cancel', class: 'ep-cancel-edit btn btn-default' %>
    </div>
  <% end %>
</div>
<br>