<div class="ep-show-job__options pull-right">
  <% if user_signed_in? && job.user == current_user %>
    <a class='js-edit-section-item--job'> Edit</a>
    |
    <%= link_to 'Remove', job_post_path(job), method: :delete, :data => { :confirm => "Are you sure you want to remove this job posting?" } %>
  <% end %>
</div>
<div class="js-section-item">
  <div class="page-header ep-job-info__page-header">
    <h3><%= job.title %></h3>
    <% if job.has_user? && job.user.as_org %>
      <p style="font-size:16px;">at <%= link_to job.user.name, org_path(job.user) %></p>
    <% elsif (job.has_user? && !job.user.as_org) || job.indeed_key.present? %>
      <p style="font-size:16px;">at <%= job.organization %></p>
    <% end %>

    <% if job.indeed_key.present? %>
      <span class="ep-gray">
        <%= job.indeed_location %>
      </span>
    <% else %>
      <span class="ep-gray">
        <%= job.neighborhood if job.neighborhood %>
        <%= job.city_state if job.city_state && job.neighborhood.blank? %>
      </span>
    <% end %>

    <% if job.org_website %>
      | <span><%= link_to 'Website', "http://#{job.org_website}" %></span>
    <% end %>

    <span class="pull-right ep-gray" style="font-size:12px;">
      Posted on: <%= job.indeed_key.present? ? job.indeed_date.to_datetime.strftime("%b %d, %Y") : job.created_at.strftime("%b %d, %Y") %>
    </span>
  </div>

  <div class="ep-job-info__description">
    <h4>Description</h4>
    <p><%= h(job.description).gsub(/\n/, '<br/>').html_safe %></p>
    <% if job.indeed_key.present? %>
      <p><%= link_to "View full post on indeed", "#{job.indeed_url}", target: '_blank' %></p>
    <% end %>
    <% if job.contact_info.present? %>
      <hr>
      <h4>How to apply</h4>
      <p><%= job.contact_info %></p>
    <% end %>
  </div>
  <% if job.coordinates.present? %>
    <div class="ep-job-info__map" style="height:300px; width:100%;">
      <div id="map-canvas" class="ep-job-info__map-canvas" style="width: 88%; height: 100%;"></div>
    </div>
  <% end %>
</div>
<br>
<div class='ep-form ep-add-job-form ep-edit-form ep-edit-form--job js-edit-form'>
  <h3>Edit job post</h3>
  <hr>
  <%= form_for job, method: :put, remote: true do |f| %>
    <%= render partial: 'form_fields', locals: { f: f } %>
    <div class="ep-form__clear">
      <%= f.submit 'Save', :class => 'btn btn-primary' %>
      <%= content_tag :div, 'cancel', class: 'ep-cancel-edit btn btn-default' %>
    </div>
  <% end %>
</div>
<br>