<div class="row-fluid"><br><br><br><br>
  <div class="ep-search col-md-3 white-bg">
    <h3>Find jobs</h3>
    <%= form_tag job_posts_path, method: :get, remote: true, class: 'js-search-form' do %>

      <%= text_field_tag 'search', @search_term, placeholder: 'Search jobs...', class: "js-search-form__text-field" %>

      <h4>Filter by location</h4>
      <% @locations.each do |location| %>
        <%= check_box_tag 'filter_by_locations[]', location.id, false, class: 'js-search-form__check-box' %>
        <%= label_tag 'filter_by_location', location.name, class: 'ep-filter-label' %><br>
      <% end %>

      <h4>Filter by role</h4>
      <% @roles.each do |role| %>
        <%= check_box_tag 'filter_by_roles[]', role.id, false, class: 'js-search-form__check-box' %>
        <%= label_tag 'filter_by_roles', role.name, class: 'ep-filter-label'  %><br>
      <% end %>
   <% end %>
  </div>

  <div class="ep-index col-md-8 white-bg">
    <div class="page-header">
      <a class="pull-right" data-toggle="collapse" data-target="#ep-app-job__toggle">Post a job</a>
      <h3>Jobs</h3>
      <div id="ep-app-job__toggle" class="collapse">
        <div class='ep-form js-edit-form'>
          <%= form_for JobPost.new do |f| %>
            <%= render partial: 'form_fields', locals: { f: f } %>
            <div class="ep-form__clear">
              <%= f.submit 'Add', :class => 'btn btn-primary' %>
              <%= content_tag :div, 'cancel', class: 'btn btn-default', :data => { toggle: "collapse", target: "#ep-app-job__toggle" } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <table class="table ep-index__table">
      <tbody class="ep-index__items">
        <%= render partial: 'job_posts/job_posts', locals: { jobs: @jobs } %>
      </tbody>
    </table>
    <div class="js-will-page">
      <%= will_paginate @jobs %>
    </div>
  </div>
</div>
