<div class="row-fluid"><br><br><br><br>

  <div class="ep-similar-jobs col-sm-3 white-bg">
    <h4>
      <%= link_to job_maps_path, class: 'ep-link-to-job-maps' do %>
        <i class="fa fa-globe"></i> Jobs Map
      <% end %>
    </h4>
    <h3>Other Jobs</h3><br><br>
    <% @random_jobs.each do |job| %>
      <p><%= link_to job.title.truncate(30), job_post_path(job) %></p>
      <% if job.indeed_key %>
        <p><%= job.indeed_location %></p>
      <% else %>
        <p><%= job.location ? job.location.name : 'Unknown Location' %></p>
      <% end %>
      <hr>
    <%end %>
  </div>

  <div class="ep-show-job col-sm-8 white-bg">
    <br>
    <h3>Post a job</h3>
    <% if current_user %>
      <div class='ep-form js-edit-form'>
        <%= form_for @job_post do |f| %>
          <%= render partial: 'form_fields', locals: { f: f } %>
          <div class="ep-form__clear">
            <%= f.submit 'Add', :class => 'btn btn-primary' %>
            <%= content_tag :div, 'cancel', class: 'btn btn-default', :data => { toggle: "collapse", target: "#ep-app-job__toggle" } %>
            <br><br>
            <p class="ep-gray">This job post will expire in 90 days.</p>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="ep-sign-in-to-post-job">
        <br>
        <% user = User.new() %>
        <p><%= link_to "Sign in", new_session_path(user) %> or <%= link_to "create", new_registration_path(user) %> an account to post a job.</p>
      </div>
    <% end %>
    <br>
  </div>

</div>