<div class="js-section-container row-fluid"><br><br><br><br>

    <div class="ep-similar-jobs col-md-3 white-bg">
      <% if @similar_jobs.present? %>
        <h3>Similar Jobs</h3><br><br>
        <% @similar_jobs.each do |job| %>
          <p><%= link_to job.title.truncate(40), job_post_path(job) %></p>
          <% if job.indeed_key %>
            <p><%= job.indeed_location %></p>
          <% else %>
            <p><%= job.location ? job.location.name : 'Unknown Location' %></p>
          <% end %>
          <hr>
        <% end %>
      <% else %>
          <h3>Other Jobs</h3><br><br>
          <% @random_jobs.each do |job| %>
            <p><%= link_to job.title.truncate(40), job_post_path(job) %></p>
            <% if job.indeed_key %>
              <p><%= job.indeed_location %></p>
            <% else %>
              <p><%= job.location ? job.location.name : 'Unknown Location' %></p>
            <% end %>
            <hr>
          <%end %>
      <% end %>
    </div>

    <div class="ep-show-job col-md-8 white-bg">
      <%= render partial: 'show_job', locals: { job: @job } %>
    </div>
  </div>
</div>





