<div class="js-section-container row-fluid"><br><br><br><br>

    <div class="ep-similar-jobs col-md-3 white-bg">
      <h4>
        <%= link_to job_maps_path, class: 'ep-link-to-job-maps' do %>
          <i class="fa fa-globe"></i> Jobs Map
        <% end %>
      </h4>
      <% if @similar_jobs.present? %>
        <h3>Similar Jobs</h3><br><br>
        <% @similar_jobs.each do |job| %>
          <p><%= link_to job.title.truncate(30), job_post_path(job) %></p>
          <% if job.indeed_key %>
            <p><%= job.indeed_location %></p>
          <% else %>
            <p><%= job.location ? job.location.name : 'Unknown Location' %></p>
          <% end %>
          <hr>
        <% end %>
      <% else %>
          <h3>Other Jobs</h3><br><br>
          <% @random_jobs.each do |job| %>
            <p><%= link_to job.title.truncate(30), job_post_path(job) %></p>
            <% if job.indeed_key %>
              <p><%= job.indeed_location %></p>
            <% else %>
              <p><%= job.location ? job.location.name : 'Unknown Location' %></p>
            <% end %>
            <hr>
          <%end %>
      <% end %>
    </div>

    <div class="ep-show-job col-md-8 white-bg">
      <%= render partial: 'show_job', locals: { job: @job } %>
    </div>
  </div>
</div>

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['EP_GOOGLE_MAPS_KEY'] %>">
</script>

<% if @job.coordinates.present? %>
  <% lng = @job.coordinates[0] %>
  <% lat = @job.coordinates[1] %>
<% end %>

<script type="text/javascript">

  var myLatlng = new google.maps.LatLng(<%= lat %>,<%= lng %>);

  var styles = [{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e0efef"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff"},{"color":"#d3d3d3"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"},{"lightness":700}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#3bafda"}]}]

  function initialize() {
    var mapOptions = {
      center: myLatlng,
      zoom: 14,
      styles: styles
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

    var marker = new google.maps.Marker({
      position: myLatlng
    });

    marker.setMap(map);
  }
  google.maps.event.addDomListener(window, 'load', initialize);

</script>





